tmp_dir: /tmp/installer_custom # путь к временной директории на конечных серверах (кастомный)
wait_for_start: 60 # время в секундах на корректный старт приложения (максимальное для отладки)
customJavaPath: false # абсолютный путь к используемой java (false для использования java из PATH)
security: PLAINTEXT__ZK_PLAIN_NO_AUTH__KAFKA_PLAINTEXT_NO_AUTH # протокол безопасности
kafka_user: kafka # имя пользователя от имени которого запускается Kafka
kafka_group: kafka # имя группы от имени которой запускается Kafka
zookeeper_user: kafka # имя пользователя от имени которого запускается ZooKeeper
zookeeper_group: kafka # имя группы от имени которой запускается ZooKeeper
enabled_service: true # создание сервиса и настройка сервиса ../helper/create_service.yml

kafka:
    distr: distrib.zip # имя zip архива с дистрибутивом, размещенного в ./ansible/files/
    installdir: /pub/opt/Apache/kafka # абсолютный путь на конечном сервере к приложению
    logdir: /pub/opt/Apache/kafka/logs_custom # абсолютный путь на конечном сервере к логам приложения (кастомный)
    datadir: /pub/KAFKADATA_custom # абсолютный путь на конечном сервере к данным приложения (кастомный)
    cleanLog: true # очистить путь к логам при установке (для отладки)
    cleanData: true # очистить путь к данным при установке (для отладки)
zookeeper:
    distr: distrib.zip # имя zip архива с дистрибутивом, размещенного в ./ansible/files/
    installdir: /pub/opt/Apache/kafka # абсолютный путь на конечном сервере к приложению
    logdir: /pub/opt/Apache/kafka/logs_custom # абсолютный путь на конечном сервере к логам приложения (кастомный)
    datadir: /pub/zookeeper_custom # абсолютный путь на конечном сервере к данным приложения (кастомный)
    cleanLog: true # очистить путь к логам при установке (для отладки)
    cleanData: true # очистить путь к данным при установке (для отладки)
crxsr:
  distr: distrib.zip # Имя zip архива с дистрибутивом, размещенного в ./ansible/files/
  installdir: /pub/opt/Apache/kafka # абсолютный путь на конечном сервере к приложению
  cleanLog: true # очистить путь к логам при установке (для отладки)
  prop_var:
    "server_port": 8081 # порт на котором работает CRXSR
crxui:
    distr: distrib.zip # имя zip архива с дистрибутивом, размещенного в ./ansible/files/
    installdir: /pub/opt/Apache/kafka # абсолютный путь на конечном сервере к приложению
    cleanLog: true # очистить путь к логам при установке (для отладки)
    cleanData: true # очистить путь к данным при установке (для отладки)
    server.port: 9090 # порт на котором работает CRXUI
