[kafka]
vm-corax       ansible_host=         ansible_user=user1

[zookeeper]
vm-corax       ansible_host=         ansible_user=user1

[crxsr]
vm-corax       ansible_host=         ansible_user=user1

[crxui]
vm-corax       ansible_host=         ansible_user=user1
