- name: Prepare corax installer
  hosts: all
  become: yes
  vars:
    KFK_distrib: KFK-12.381.1-16-distrib.zip
    corax_scriptmanager: corax-scriptMerger-2.0.0.zip
    json_exporter: ansible_corax_json_exporter.zip
    tmp_dir: /pub/corax/tmp/
    corax_dir: /pub/corax
  tasks:

    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

    - name: For RED OS clean /etc/resolv.conf if there is trash
      ansible.builtin.lineinfile:
        path: /etc/resolv.conf
        regexp: 'nameserver 10.0.2.3'
        state: absent
      when: ansible_facts['os_family'] == 'REDOS'

    - name: Install OS environment required packages
      become: yes
      ansible.builtin.package:
        name:
          - ansible
          - unzip
          - sshpass
          - java-17-openjdk
          - jq
        state: present

    - name: "Create corax dir - {{ tmp_dir }}"
      ansible.builtin.file:
        path: "{{ tmp_dir }}"
        state: directory
        mode: '0755'

    - name: "Copy files into {{ tmp_dir }}"
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ tmp_dir }}"
      with_items:
        - "./files/{{ KFK_distrib }}"
        - "./files/{{ json_exporter }}"
        - "./files/{{ corax_scriptmanager }}"
        - ./files/prepare.sh

    - name: Set exec permission for prepare.sh
      ansible.builtin.file:
        path: "{{ tmp_dir }}prepare.sh"
        mode: '0777'

    - name: Run prepare script for distrib
      ansible.builtin.shell: "./prepare.sh"
      args:
        chdir: "{{ tmp_dir }}"
        executable: /bin/bash

    - name: Create directory for inventory
      ansible.builtin.file:
        path: "{{ corax_dir }}/inventories/group_vars/"
        mode: '0755'
        recurse: true

    - name: Create group_vars #NOW ONLY FOR SINGLE INSTANCE
      ansible.builtin.template:
        src: ./files/group_vars_all.j2
        dest: "{{ corax_dir }}/inventories/group_vars/all.yaml"

    - name: Create template for inventory file
      ansible.builtin.template:
        src: ./files/inventory.j2
        dest: "{{ corax_dir }}/inventories/inventory.ini"

### insert files into kafka disto
    - name: Change ansible.cfg in corax_dir
      ansible.builtin.copy:
        src: ./files/ansible.cfg
        dest: "{{ corax_dir }}/ansible.cfg"

    - name: Change create_enc.yml in corax_dir/helper
      ansible.builtin.copy:
        src: ./files/create_enc.yml
        dest: "{{ corax_dir }}/helper/create_enc.yaml"

    - name: Change main.yml in crxsr
      ansible.builtin.copy:
        src: ./files/main.yml
        dest: "{{ corax_dir }}/roles/crxsr/defaults/main.yaml"
### insert files into kafka disto   

    - name: Create prepare_corax.yaml playbook
      ansible.builtin.copy:
        src: ./files/prepare_corax.yaml
        dest: "{{ corax_dir }}/prepare_corax.yaml"

    - name: Create post_install_corax.yaml playbook
      ansible.builtin.copy:
        src: ./files/post_install_corax.yaml
        dest: "{{ corax_dir }}/post_install_corax.yaml"
    - name: Check if SSL certificates exist
      ansible.builtin.stat:
        path: "./files/kafka.keystore.jks"
      register: ssl_keystore_check
      delegate_to: localhost

    - name: Create SSL directory on target nodes
      ansible.builtin.file:
        path: "/pub/corax/inventories/pub/opt/Apache/kafka/ssl/"
        state: directory
        mode: '0755'
        owner: kafka
        group: kafka
      when: ssl_keystore_check.stat.exists

    - name: Copy SSL keystore to target nodes
      ansible.builtin.copy:
        src: "./files/kafka.keystore.jks"
        dest: "/pub/corax/inventories/pub/opt/Apache/kafka/ssl/kafka.keystore.jks"
        mode: '0644'
        owner: kafka
        group: kafka
      when: ssl_keystore_check.stat.exists

    - name: Copy SSL truststore to target nodes
      ansible.builtin.copy:
        src: "./files/kafka.truststore.jks"
        dest: "/pub/corax/inventories/pub/opt/Apache/kafka/ssl/kafka.truststore.jks"
        mode: '0644'
        owner: kafka
        group: kafka
      when: ssl_keystore_check.stat.exists
#
    - name: Change zookeeper_SSL
      ansible.builtin.copy:
        src: ./files/zookeeper_SSL.yml
        dest: "{{ corax_dir }}/roles/zookeeper/tasks/zookeeper_SSL.yml"
      when: ssl_keystore_check.stat.exists
#
    - name: Copy kafka_SSL
      ansible.builtin.copy:
        src: ./files/kafka_SSL.yml
        dest: "{{ corax_dir }}/roles/kafka/tasks/kafka_SSL.yml"
      when: ssl_keystore_check.stat.exists
#roles/crxsr/defaults/main.yml
    - name: Copy crxui main.yml
      ansible.builtin.copy:
        src: ./files/crxui_main.yml
        dest: "{{ corax_dir }}/roles/crxui/tasks/main.yml"
      when: ssl_keystore_check.stat.exists      

    - name: Change main.yml in crxsr
      ansible.builtin.copy:
        src: ./files/main.yml
        dest: "{{ corax_dir }}/roles/crxsr/defaults/main.yml"
      when: ssl_keystore_check.stat.exists  

    - name: "Remove {{ tmp_dir }}"
      ansible.builtin.file:
        path: "{{ tmp_dir }}"
        state: absent


